@import './function';
@import './reset';

.personal-form {
  max-width: 400px;
  width: 300px;
  margin: rem(100) auto;

  h3 {
    font-size: rem(20);
    margin-bottom: 20px;
    text-align: center;
  }

  input {
    width: 190px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
  }

  .row {
    font-size: rem(18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(30);
  }

  .btn {
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 8px;
    background: #fcc800;
    cursor: pointer;
    color: #fff;

    &:active {
      color: #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
  }

  .result {
    justify-content: start;
  }

  #output {
    margin-left: 18px;
    width: 190px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .copy-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-left: -1px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    user-select: none;
    outline: none;

    &:active {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  }

  .copy-btn:active .tooltip {
    display: block;
  }

  .input-group-button {
    position: relative;
  }

  .tooltip {
    position: absolute;
    z-index: 2;
    bottom: -38px;
    left: 0;
    width: 46px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: -18px;
      transform: translate3d(-50%, 0, 0);
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom: solid 8px rgba(0, 0, 0, 0.6);
    }
  }

  .clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
    width: 20px;
    height: 23px;
  }
  
  .clear-btn {
    width: 100%;
    user-select: none;
  }
}